/*Stili per l'header*/
#logo{
    height: 40px;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 10px;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(76, 166, 244);
    height: 170px;
}

/*Di seguito piccoli tweak per rendere la sezione con le immagini piú simile possibile alla foto*/
img{
    margin-top: 20px;
}
p{
    margin: 0px;
}

h1{
    margin-bottom: 0px;
    font-size: xx-large;
}

h4{
    margin: 0px;
}

#scrittodata{
    color: gray;
    padding: 0px;
    margin: 0px;
}

/*Aggiustamenti per la sezione Lorem*/

h3{
    font-weight: lighter;
}

